---
import { Image } from "astro:assets"
import RootLayout from '../layouts/RootLayout.astro';
import DarkComingSoon from "../assets/coming-soon-dark.png";
import LightComingSoon from "../assets/coming-soon-light.png";
import DarkFluidLogo from "../assets/fluid-interfaces-dark.png";
import LightFluidLogo from "../assets/fluid-interfaces-light.png";
---

<RootLayout>
    <div class="bg-zinc-950">
        <div class="mx-auto w-full max-w-screen-md min-h-screen flex items-center justify-center">
            <div class="px-4 flex flex-col items-center">
                <Image src={DarkComingSoon} alt="Logo" class="w-2/6 opacity-60" />
                <Image src={DarkFluidLogo} alt="Logo" class="mt-12 w-full" />
            </div>
        </div>
    </div>

    <div class="bg-white">
        <div class="mx-auto w-full max-w-screen-md min-h-screen flex items-center justify-center">
            <div class="px-4 flex flex-col items-center">
                <Image src={LightComingSoon} alt="Logo" class="w-2/6 opacity-60" />
                <Image src={LightFluidLogo} alt="Logo" class="mt-12 w-full" />
            </div>
        </div>
    </div>
</RootLayout>
